@keyframes signature {
  to {
    stroke-dashoffset: 0;
  }
}

.path {
  stroke: currentColor;
  animation: signature ease-in-out forwards;
}

.path_1 {
  stroke-dasharray: 209.66062927246094;
  stroke-dashoffset: 209.66062927246094;
  animation-duration: 0.375s;
  animation-timing-function: ease-in;
}

.path_4 {
  stroke-dasharray: 497.0262145996094;
  stroke-dashoffset: 497.0262145996094;
  animation-duration: 0.5s;
  animation-delay: 0.375s;
}

.path_2 {
  stroke-dasharray: 524.4884033203125;
  stroke-dashoffset: 524.4884033203125;
  animation-duration: 0.75s;
  animation-delay: 0.75s;
}

.path_3 {
  stroke-dasharray: 1771.633056640625;
  stroke-dashoffset: 1771.633056640625;
  animation-duration: 0.75s;
  animation-delay: 1.5s;
}
